{% extends 'base.html' %}
{% block title %}Home | {{ SITENAME }}{% endblock %}
{% block metadesc %}{% endblock %}

{% block header %}
<style>
  img.round {
    border: 2px solid #222;
    height: 200px;
    width: 200px;
    line-height: 200px;
    -moz-border-radius: 100px;
    border-radius: 100px;
  }
  /* Adds a nice clean separation between scrolling blog posts */
  .blog-post {
    margin-bottom: 3rem;
  }
  .post-date {
    color: #666;
    font-size: 0.9rem;
  }
  /* Optional: Adds styling to make your continue link pop out */
  .read-more {
    display: inline-block;
    margin-top: 0.75rem;
    font-weight: bold;
    text-decoration: underline;
  }
</style>
{% endblock %}

{% block content %}
<h1>{{ INDEX_PAGE_HEADER }}</h1>
  {% for page in pages %}
      {% if page.title == 'About' %}
          {{ page.summary }}
      {% endif %}
  {% endfor %}

<hr>

{# This loop slices your 10 most recent posts, showing summaries with a conditional break link #}
{% for article in articles[:10] %}
<div class="blog-post">
    <h2><a href="/{{ article.url }}">{{ article.title }}</a></h2>
    <p class="post-date">{{ article.date.strftime('%B %d, %Y') }}</p>
    
    <div class="entry-content">
        {# Renders your multi-line summary header perfectly #}
        {{ article.summary }}
        
        {# Automatically appends the link because you provided a manual summary #}
        <p>
            <a class="read-more" href="/{{ article.url }}">
                Read the rest of this post...
            </a>
        </p>
    </div>
</div>
{% endfor %}

{% endblock %}
